<div class="center-form">
    <img src="../../../public/logo.png" alt="logo" class="logo" />
    <h2>Enter login credentials</h2>
    <form nz-form [formGroup]="loginForm" class="custom-form">
        
        <nz-form-item>
            <nz-form-control nzErrorTip="Email is required">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="Password is required">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <button nz-button nzType="primary" nzBlock [disabled]="loginForm.invalid" class="w-100" (click)="submitForm()" >
            Login
        </button>
        Or <a routerLink="/register"> register</a>
    </form>
</div>
