.logo{
    height:32px;
    margin:16px;
    background: #aaaaab;
}

nz-header {
    background: #ffffff;
    padding: 0;
}

nz-content{
    margin: 0 16px;
}

nz-breadcrumb {
    margin: 16px 0; 
}

.inner-content{
    padding: 24px;
    background: #ffffff;
    min-height: 360px;
}

nz-footer{
    text-align: center;
}